[submodule "libs/bibtex2html"]
	path = libs/bibtex2html
	url = https://github.com/backtracking/bibtex2html.git
[submodule "libs/academicons"]
	path = libs/academicons
	url = https://github.com/jpswalsh/academicons.git
[submodule "static/portfolio"]
	path = static/portfolio
	url = git@github.com:joetm/jonaso.de-portfolio.git
