[submodule "libs/academicons"]
	path = libs/academicons
	url = git@github.com:jpswalsh/academicons.git
[submodule "libs/bibtex2html"]
	path = libs/bibtex2html
	url = git@github.com:backtracking/bibtex2html.git
