
.clear {
  clear: both;
}

.clickable {
	cursor: pointer;
}

.wrapperBox {
  clear:both;
  padding-top: 1rem;
}

.authordetails {
  margin-top: .5rem;
  border-top: 1px dashed #696969;
  margin-bottom: 1rem;
  border-bottom: 1px dashed #696969;
}

.abbrev {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.docprio {
  opacity: 0.75;
}