
.ra.ml/ai {
  background-color: #FFDAB9;
}

.ra.nlp {
  background-color: #FFB6C1;
}

.ra.hci {
  background-color: #B0E0E6;
}

.ra.social_media {
  background-color: #AFEEEE;
}

.ra.crowdsourcing {
  background-color: #FFFFE0;
}

.ra.creativity {
  background-color: #E0FFFF;
}

.ra.psychology {
  background-color: #F0E68C;
}

.ra.medical {
  background-color: #E6E6FA;
}

.ra.art {
  background-color: #FFF0F5;
}

.ra.computer_vision {
  background-color: #FFE4E1;
}

.ra.open_science {
  background-color: #F5DEB3;
}

.ra.linked_data {
  background-color: #F0FFF0;
}

.ra.research_methods {
  background-color: #FAFAD2;
}

.ra.virtual_reality {
  background-color: #D3FFCE;
}

.ra.future_of_work {
  background-color: #F4C2C2;
}

.ra.collective_intelligence {
  background-color: #89CFF0;
}

.ra.healthcare {
  background-color: #FAF0E6;
}

.ra.ai_ethics {
  background-color: #FDFD96;
}

.ra.education {
  background-color: #ECCAFF;
}

.ra.ontology_engineering {
  background-color: #C1F0F6;
}
