
.area.hci {
  background-color: #FFB6C1;
}

.area.ml {
  background-color: #FFDAB9;
}

.area.nlp {
  background-color: #FFFFE0;
}

.area.crowdsourcing {
  background-color: #B0E0E6;
}

.area.ai {
  background-color: #AFEEEE;
}

.area.social_media {
  background-color: #E0FFFF;
}

.area.creativity {
  background-color: #F0E68C;
}

.area.art {
  background-color: #E6E6FA;
}

.area.psychology {
  background-color: #FFF0F5;
}

.area.collective_intelligence {
  background-color: #FFE4E1;
}

.area.virtual_reality {
  background-color: #F5DEB3;
}

.area.research_methods {
  background-color: #F0FFF0;
}

.area.linked_data {
  background-color: #FAFAD2;
}

.area.future_of_work {
  background-color: #D3FFCE;
}

.area.ontology_engineering {
  background-color: #F4C2C2;
}

.area.pandemics {
  background-color: #89CFF0;
}

.area.ubicomp {
  background-color: #FAF0E6;
}

.area.biology {
  background-color: #FDFD96;
}

.area.computer_vision {
  background-color: #ECCAFF;
}

.area.statistics {
  background-color: #C1F0F6;
}
